:root {
    --cor0: #5997ff;
    --cor1: #2b303a;
    --cor2: white;
    --cor3: #7c7c7c9d;
    --cor4: #D64933;
    --cor5: #add8e6;
}

body{
    background-color: #2b303a;
}

div{
    margin: auto;
    max-width: 1000px;
}

#box{
    background-color: white;
    padding: 15px;
}