*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cadetblue;
}

header{
    background-color: #5A97FE;
}

#filtros{
    background-color: #5A97FE;

    color: black;

    display: block;

    font-size: 20px;
    font-weight: bold;

    text-indent: 5px;
}

nav{
    background-color: #5A97FE;
}

nav > a{
    color: white;

    font-weight: bold;
}

section{
    background-color: white;
}