
:root {
    --cor0: #5997ff;
    --cor1: #2b303a;
    --cor2: white;
    --cor3: #7c7c7c9d;
    --cor4: #D64933;
    --cor5: #add8e6;
}
 
body {
    background-color: var(--cor0);
    width: auto;
}
 
#fundo {
    background-color: var(--cor0);
    margin: auto;
    max-width: auto;
    min-width: 480px;
}
 
#header {
    background-color: var(--cor0);
    margin: auto;
    position: relative;
}
 
header{
    height: 90px;
}
 
#divpesquisa{
    display: inline-block;
}
 
#pesquisa > input{
    border: 1px solid white;
    border-radius: 15px;
    max-width: 600px;
    min-width: 280px;
    padding: 0.5em;
}
 
#img{
    position: relative;
}
 
#pesquisa{
    position: relative;
 
    left: 250px;
    top: 5px;
}
 
#navegar{
    display: inline-block;
    position: relative;
}

.tableNav{
    display: block;
    position: fixed;

}
 
#botaodeacesso {
    display: inline-block;
    position: absolute;
    right: 0px;
}
   
#nav{
    background-color: var(--cor0);
    display: inline;
    position: relative;
    width: auto;
}
 
.nav {
    font-variant: small-caps;
    font-size: 18px;
    position: relative;
    right: 0px;
}
 
a {
    color: white;
    padding: 7px;
}
 
a:hover {
    font-weight: bold;
    text-decoration: none;
}

#produtos{
    background-color: var(--cor0);
    position: fixed;

    left: 220px;
    top: 250px;

    width: auto;
    min-width: 400px;
}

.cardProd{
    font-size: 20px;
    display: inline-block;
    height: auto;  
    margin: 20px;
    margin-bottom: 10px;
    padding: 10px;
}
 