* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

    li {
        list-style-type: none;
    }
}

body {
    background-color: #5997fede;
}

header {
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    z-index: 1000;
    background-color: #5997fe;
}

.prod {
    position: relative;
    height: 525px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-bottom: 0;

    #card2 {
        height: 300px;
    }
}

h1 {
    font-size: 48px;
    font-weight: 900;
    padding-left: 10px;
}

h2 {
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
}

h3 {
    font-size: 42px;
    font-weight: 900;
    padding-left: 10px;
}

h4 {
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
}

.btnAdc {
    width: 100%;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    background: #2a62bd;
    border: none;
    border-radius: 8px;
}

#card1 {
    max-width: 100%;
    width: 28rem;
    height: auto;
    margin-left: 20%;
}

#card2 {
    margin-left: 10%;
    margin-right: 15%;
}

#li1 {
    margin-top: 0px;
}

hr {
    width: 80%;
    align-items: center;
    height: 3px;
    margin: 40px;
    background-color: #dddddd;
}

.coments {
    width: 100%;
    word-wrap: break-word;
    border-bottom-left-radius: 10px;
    border-collapse: collapse;

    th {
        background-color: #2a62bd;
        padding: 10px 40px;
        text-align: left;
        font-size: 18px;
        font-weight: 900;
        border-top-right-radius: 8px;
    }

    td {
        text-align: left;
        padding: 8px 25px;
        background-color: #5997fe;
    }

    .name {
        font-size: 16px;
        font-weight: 600;
        width: 15%;
    }

    .stars {
        width: 15%;
        padding: 3px;
    }

    .coms {
        padding-left: 3px;
    }

    .ult1 {
        border-bottom-left-radius: 10px;
    }

    .ult2 {
        border-bottom-right-radius: 10px;
    }
}

.carmarket {
    width: 100%;
    word-wrap: break-word;
    border-collapse: collapse;

    th {
        background-color: #2a62bd;
        font-size: 18px;
        font-weight: 900;
        justify-content: center;
        padding: 10px 20px;
        text-align: left;
    }
    
    td {
        text-align: center;
        padding: 13px;
        background-color: #ffffff52;
        font-size: 16px;
        font-weight: 600;
        
    }
}

.ult3,
.nmProd,
.rsProd,
.qtProd,
.ttProd,
.ult4 {
    padding-top: 0;
}

.ftProd {
    width: 150px;
    height: 150px;
}

.nmProd {
    padding-left: 0;
}

.nmProd,
.rsProd,
.ttProd {
    font-size: 16px;
    font-weight: 500;
}

qntd::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.qntd {
    width: 80px;
    height: 40px;
    margin: 7px;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 18px;
}

.exProd {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: none;
    color: white;
    background-color: red;
    font-size: 32px;
    text-align: center;
}

.feComp {
    width: 250px;
    height: 50px;
    margin-top: 20px;
    margin-left: 74%;
    border-radius: 8px;
    border: none;
    background-color: #2a62bd;

    font-size: 18px;
    font-weight: bold;
}

.ttProd {
    width: 175px;
}

.havent {
    font-size: 18px;
    font-weight: 500;
}